body {
    
    background: rgba(11, 5, 15, 0.851);
    background: linear-gradient(75deg, rgba(15, 11, 102, 0.81) 1%, rgba(115, 51, 35, 0.914) 75%, rgb(61, 42, 5) 100%);
}
.brand {
    padding: 5px;
}


.navbar {
    background-color: rgb(54, 74, 74);
    color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.417);
    
}
.navbar-link {
    color: aliceblue;
}
.card-header {
    color: black;
}

.card-text {
    color: black;
}
.card-title {
    color: black;
}
.bad {
    color: red;
}